@import url(normalize.css);
.home{
    width: 200px;
    background-color: rgb(216, 255, 169);
    border: 3px dotted #006c31;
    }
.nav1{
    background-color: black;
    text-align: right;
}

.nav1 li{
    list-style-type: none;
    display: inline-block;

}

.nav1 a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.nav1 a:hover{
    background-color: red;
    transition:background-color 0.4s linear,
    color 1s ease-in-out;
}

.nav1 ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
}