@import url(normalize.css);
.p_round{
    border-radius: 50%;
    border: 2px black solid;
}
.test{
    size:6;
}

.death{
    font-size: 300%;
    color: gold;
    font-family:fantasy
}

a{
    color: brown;
}

a:hover{
    color: #ff705b;
    text-decoration:: none;
}

main{
    width: 80%;
    background-color: lightcyan;
    margin: 0px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
}
.h1 {
    width: 300px;
    margin: 0px auto;
    padding: 30px;
    border: 5px solid rgb(178, 169, 223);
    background-color: rgb(152, 137, 226);
    color: darkblue;
    font-size: 300%;
    text-align: left;
    line-height: 1;
}

#container{
    background-image: url(img/彩虹貓.png);
    background-repeat: repeat-x;
}
#img1{
    width: 200px;
    height: 200px;
}