@import url(normalize.css);
body {
    background-color: rgb(235, 255, 206);
    color: rebeccapurple;
    margin: 0px;
}
h1 {
    width: 300px;
    margin: 0px auto;
    padding: 30px;
    border: 5px solid rgb(178, 169, 223);
    background-color: rgb(152, 137, 226);
    color: darkblue;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}

main{
    width: 80%;
    background-color: #fff;
    margin: 0px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
}

h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(171, 241, 217);
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}

.p_round{
    border-radius: 50%;
}
h1,header,nav,footer{
    text-align: center;
}
.div_text_shadow
{
    text-shadow: 0px 1px 7px #333333;
    border-radius: 50%;
}

#container{
    background-image: url(img/bg.png);
    background-repeat: repeat-x;
}
a{
    color: #df4839;
}
a:hover{
    color: #ff705b;
    text-decoration:: none;
}
a[target="_blank"]::after{
    content: url(img/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}
a[href]
.more{
    text-align: right;
}
.more::after{
    content: url(img/ico_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}